<!--
Theme: es-theme-tiled
author: Claudio Filipe
license: creative commons CC-BY-NC-SA
-->

<?xml version="1.0" encoding="UTF-8"?>

<theme>
  <formatVersion>7</formatVersion>
  <view name="menu">
  
    <menuText name="menutitle">
      <fontSize>${fontSizeMenuTitle}</fontSize>
      <fontPath>${fontPath}</fontPath>
      <color>${secondaryColor}</color>
    </menuText>
  
    <menuText name="menutext">
      <fontSize>${fontSizeMenu}</fontSize>
      <fontPath>${fontPath}</fontPath>
      <color>${secondaryColor}</color>
      <separatorColor>${tertiaryColor}</separatorColor>
      <selectorColor>${secondaryColor}</selectorColor>
      <selectorColorEnd>${secondaryColor}</selectorColorEnd>
      <selectedColor>${backgroundColor}</selectedColor>
      <selectorGradientType>horizontal</selectorGradientType>
    </menuText>

    <menuTextSmall name="menutextsmall">
      <fontSize>${fontSizeMenuSmall}</fontSize>
      <fontPath>${fontPath}</fontPath>
      <color>${tertiaryColor}</color>
    </menuTextSmall>
  
    <menuBackground name="menubg">
      <color>${backgroundColor}</color>
      <cornerSize>32 32</cornerSize>
      <scrollbarColor>${secondaryColor}</scrollbarColor>
      <scrollbarCorner>0.49</scrollbarCorner>
      <scrollbarSize>0.003</scrollbarSize>
      <scrollbarAlignment>innerright</scrollbarAlignment>
    </menuBackground>
  
    <menuText name="menufooter">
      <fontSize>${fontSizeMenuFooter}</fontSize>
      <fontPath>${fontPath}</fontPath>
      <color>${tertiaryColor}</color>
    </menuText>
  
    <menuTextEdit name="menutextedit">
      <inactive>./colorway/${colorSchemeName}_inactive.png</inactive>
      <active>./colorway/${colorSchemeName}_active.png</active>
    </menuTextEdit>

    <menuGroup name="menugroup">
      <fontSize>${fontSizeMenuGroup}</fontSize>
      <fontPath>${fontPath}</fontPath>
      <color>${secondaryColor}</color>
      <backgroundColor>${backgroundColor}</backgroundColor>
      <lineSpacing>2.5</lineSpacing>
    </menuGroup>
      
      <menuIcons name="menuicons">
      <iconSystem>./_inc/inconset/cog.svg</iconSystem>
      <iconUpdates>./_inc/inconset/update.svg</iconUpdates>
      <iconControllers>./_inc/inconset/gamepad-round.svg</iconControllers>
      <iconGames>./_inc/inconset/gamepad-square.svg</iconGames>
      <iconUI>./_inc/inconset/brush.svg</iconUI>
      <iconSound>./_inc/inconset/volume-high.svg</iconSound>
      <iconNetwork>./_inc/inconset/wifi-strength-3.svg</iconNetwork>
      <iconScraper>./_inc/inconset/image.svg</iconScraper>
      <iconAdvanced>./_inc/inconset/library-shelves.svg</iconAdvanced>
      <iconQuit>./_inc/inconset/exit-to-app.svg</iconQuit>
      <iconRetroachievements>./_inc/inconset/trophy.svg</iconRetroachievements>
      <iconKodi>./_inc/inconset/kodi.svg</iconKodi>
      <iconRestart>./_inc/inconset/restart.svg</iconRestart>
      <iconShutdown>./_inc/inconset/power.svg</iconShutdown>
      <iconFastShutdown>./_inc/inconset/power.svg</iconFastShutdown>
    </menuIcons>
  </view>
</theme>
